$backgroundColor: #d9d9d9;
$mainColor: #203864;
$primaryButtonColor: #325dad;

.SignUp {
  background-color: rgb(217, 217, 217);
  height: 100%;
  &-Content {
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
  &-Banner {
    padding-top: 35px;
    text-align: center;
    &Img {
      width: 55px;
    }
  }
  &-Form {
    &Input {
      margin: 5px auto;
    }
    &Enroll {
      margin-top: 25px;
      width: 100%;
      background-color: rgb(32, 56, 100);
      color: white;
      font-weight: 550;
      padding: 10px;
      border: none;
    }
  }
}
